/*impostazioni indice*/

ul.indice{
    display: block;
    list-style-type: none;
    text-align: center;
}

ul.indice >li >a{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

h3{
    text-transform: uppercase;
    text-align: center;
}

ul.indice >li >a:hover{
    color: #ffffff;
}

/*impostazioni link "TORNA ALL'INIZIO"*/

.linkInizio{
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    text-align: center;
}

.linkInizio:hover{
    color: #ffffff;
}

/*float*/

.alignleft{
    float: left;
    padding-right: 10px;
}

.alignright{
    float: right;
    padding-left: 10px;
}